.main-page {
    padding: 0 1rem 0 2rem;
    margin: 0 auto;
    max-width: 90rem;
}

.title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.title-line h1 {
    font-size: 3.125rem;
    font-weight: 700;
    letter-spacing: .08rem;
}

.title-line span {
    font-size: 1rem;
    font-weight: 600;
    color: #666;
}


.table-header,
ul li {
    display: flex;
}

.table-header {
    background-color: #0033a0;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.songs-rank span:not(.image):not(.ranking){
    padding: 1.5rem;
}

.songs-rank .ranking {
    flex: 1;
    text-align: center;
    padding: 1.5rem;
}

.songs-rank .image {
    flex: 0 0 auto; 
    width: 5rem; 
    height: 5rem;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.songs-rank .more-info {
    flex: 1;
    text-align: center;
}

.songs-rank .last-week-rank {
    flex: 1;
    text-align: center;
}

.songs-rank .peak-rank {
    flex: 1;
    text-align: center;
}

.songs-rank .weeks-on-rank {
    flex: 1;
    text-align: center;
}

.songs-rank .song-name {
    flex: 9;
    text-align: left;
}

ul {
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin: 0;
    gap: 0;
}

ul li {
    background: white;
    color: black;
    align-items: center;
    margin: 0;
    border: none;
}

ul li span {
    font-size: 1.2rem;
}

ul li:hover {
    background: #cccccc;
    transition: background 0.2s ease;
}

ul li .ranking{
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

ul li:nth-child(1) span{
    font-size: 3rem;
    height: 6rem;
}

ul li:nth-child(1) .image {
    width: 8rem;
    height: 8rem;
}

.songs-rank .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
