.navbar{
    padding-top: 0.8rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-main{
    display: flex;
    align-items: center;
}

.navbar .nav-button{
    text-transform: uppercase;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
    margin: 0.1rem;
    font-size: 0.85rem;
}

.navbar .nav-button:hover,
.navbar .nav-button:active,
.navbar .nav-button:focus{
    border-bottom: 2px solid #222222;
}

.navbar .nav-brand{
    margin-right: 2rem;
    width: min-content;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar .brand-image{
    width: 4rem;
}

.navbar .icon-button{
    border: 1px solid rgba(0,0,0,0);
    background: none;
    cursor: pointer;
}

.navbar .icon-button:hover{
    border: 1px solid #222222;
}

.navbar .nav-icon{
    width: 2rem;
    height: 2rem;
}



.banner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
    background-color: #222222;
    color: #cacaca;
    font-size: 0.7rem;
}

.banner a{
    text-transform: uppercase;
    cursor: pointer;
}
.banner a:hover,.banner a:active,.banner a:focus{
    border-bottom: 2px solid #cacaca ;
}
.banner-button{
    border: none;
    background: none;
    color: #cacaca;
    text-transform: uppercase;
    cursor: pointer;
}
