.poster{
    display: flex;
    justify-content: space-evenly;
}

.poster .poster-image{
    height: 20rem;
    margin: 0 2rem;
}

.poster .poster-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poster-content p{
    margin: 0;
}

.poster-content .main-text{
    text-transform: uppercase;
    font-weight: bold;
}

.poster-content .shop-button{
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 7rem;
    height: 2rem;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
}



