.catalog .product-rows {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: stretch;
    gap: 1.5rem;
}

.catalog .product-link{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    flex: 0 0 30%;
}

.catalog .product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 3px #b8b9be;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    padding: 1rem;
    box-sizing: border-box;
}

.catalog .product:hover{
    box-shadow: 6px 6px 3px #b8b9be;
}

.catalog .main-title{
    margin: 1rem;
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: bold;
}

.catalog .product-image {
    width: 100%;
    height: 300px; 
    object-fit: contain; 
    object-position: center; 
    display: block;
}

.catalog .product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.catalog .product-name{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.catalog .product-description{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.catalog .product-price{
    font-size: 1.5rem;
    font-weight: 500;
}

.catalog .product-button{
    color: white;
    background-color: black;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    pointer-events: none;
}

