.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
    padding: 0;
    margin: 0;
}

.contact .content{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #FFE7E9;
    border-radius: 15px;
    
}

.contact .tittle{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
}

.contact .sub-tittle{
    font-size: 1rem;
    margin-top: 1rem;
}

.contact .send-button{
    margin-top: 0.5rem;
}

.contact input{
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

.contact input:focus{
    border: 3px solid #555
}



.contact .send-email{
    background-color: #e60278;
    color: white;
    border-radius: 15px;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
    margin-bottom: 0.5rem;
}