@import url(header.css);
@import url(poster.css);
@import url(catalog.css);
@import url(footer.css);
.contain{
    padding:0 15%;
    border-color: red;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}



