.poster{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

}

.poster .product-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    width: 70%;
}

.poster .button-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 25%;
}

.poster .tittle{
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}
.poster .sub-tittle{
    font-size: 1.5rem;
}

.button-container span{
    font-size: 4rem;
    color: #e60278;
    font-weight: bold;
}

.poster .buy-now{
    background-color: #e60278;
    color: white;
    border-radius: 15px;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    border: 0;
    cursor: pointer;
}

.poster .image-container{
    width: 30%;
}

.poster img{
    width:100%;
}
